@import '../scss/variables.scss';

$student-tile-small: 120px;
$student-tile: 140px;

$jury-tile-small-width: 130px;
$jury-tile-small-height: 194px;
$jury-tile-width: 168px;
$jury-tile-height: 250px;

.app {
  font-family: 'GillSans';
  background-color: $white;

  .banner {
    position: relative;
    background-color: $black;
    height: 70vh;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .home-link {
      position: absolute;
      top: 10px;
      left: 20px;
      letter-spacing: -5px;
      font-size: 20px;
      text-decoration: none;
      border-bottom: 2px solid $white;

      .a,
      .f {
        color: $white;
      }

      .o {
        color: $red;
      }
    }

    time,
    .location {
      font-size: 16px;
      text-transform: uppercase;

      @media (min-width: $desktop) {
        font-size: 20px;
      }
    }

    h1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0;

      .name {
        font-size: 20px;
        text-transform: uppercase;

        @media (min-width: $iphone6) {
          font-size: 23px;
        }

        @media (min-width: $desktop) {
          font-size: 50px;
        }

        .arts,
        .fashion {
          font-weight: normal;
        }

        .of {
          font-weight: $light;
          color: $red;
        }

        .foundation {
          font-weight: $light;
        }
      }

      .show {
        font-size: 20px;
        font-weight: $light;
        text-transform: uppercase;

        @media (min-width: $iphone6) {
          font-size: 23px;
        }

        @media (min-width: $desktop) {
          font-size: 40px;
        }
      }
    }

    .jump-to-tickets {
      position: absolute;
      width: 100px;
      left: calc(50% - 50px);
      bottom: 30px;
      padding: 10px 0;
      font-size: 12px;
      text-decoration: none;
      border: 2px solid $white;
      background-color: $blue;
      color: $white;
      text-transform: uppercase;
      font-weight: $light;
      letter-spacing: 2px;
      cursor: pointer;

      &:hover {
        background-color: $pale-grey;
        color: $black;
      }
    }
  }

  .teaser-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;

    .teaser {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  .content {
    margin: 50px 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: $desktop) {
      margin: 50px 0 100px;
    }

    .separator {
      margin: 30px 0;
      height: 4px;
      background-color: $blue;
      width: 80%;
    }

    .theme {
      font-size: 36px;
      color: $blue;
      text-transform: uppercase;
      text-align: center;

      @media (min-width: $desktop) {
        font-size: 40px;
      }
    }

    h2 {
      text-align: center;
      font-weight: $light;
      font-size: 30px;
      margin-bottom: 20px;
    }

    section {
      padding: 0 20px;

      @media (min-width: $desktop) {
        width: 70%;
        padding: 0;
        // margin-bottom: 30px;
      }
    }

    .description {
      font-size: 18px;
      font-weight: $light;
      line-height: 1.5;
    }

    .event-details {
      position: relative;

      .caveat {
        text-align: center;
        margin-bottom: 20px;
        font-style: italic;
      }

      h3 {
        text-align: center;
        font-weight: $light;
        font-size: 24px;
      }

      .detail {
        text-align: center;
        font-size: 28px;
        color: $blue;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        .theme,
        .date {
          font-size: 24px;
        }
        
        .time,
        .location {
          font-size: 22px;
        }
      }
    }

    .ticketing-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      .pricing {
        margin-bottom: 50px;

        tr {
          display: block;
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

          .color {
            width: 30px;

            @media (min-width: $desktop) {
              width: 100px;
            }

            &.red {
              background-color: $red;
            }

            &.pink {
              background-color: $fuschia;
            }

            &.orange {
              background-color: $orange;
            }

            &.grey {
              background-color: $light-grey;
            }
          }

          .seat-type {
            padding-left: 10px;
            width: 140px;
            font-weight: $light;
            font-size: 14px;

            @media (min-width: $desktop) {
              font-size: 18px;
              width: 200px;
            }
          }

          .price {
            width: 60px;
            font-size: 16px;
            text-align: center;

            @media (min-width: $desktop) {
              font-size: 18px;
            }
          }

          .purchase {
            input[type=submit] {
              cursor: pointer;
              border: 2px solid $pale-grey;
              background-color: $white;
              padding: 10px;
              font-size: 12px;

              @media (min-width: $desktop) {
                padding: 10px 20px;
                font-size: 14px;
              }

              &:hover {
                color: $white;
                background-color: $blue;
              }
            }
          }
        }
      }
    }

    .seating {
      display: flex;
      flex-direction: column;
      align-items: center;

      .seating-layout {
        display: none;
        height: 500px;

        @media (min-width: $desktop) {
          display: block;
        }
      }

      .seating-layout-mobile {
        display: block;
        width: 95%;

        @media (min-width: $desktop) {
          display: none;
        }
      }
    }

    .candidates {
      @media (min-width: $desktop) {
        min-width: 920px;
      }

      .description {
        text-align: center;
        margin-bottom: 30px;
      }

      .students {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .student {
          position: relative;
          height: $student-tile-small;
          width: $student-tile-small;
          margin: 5px;

          @media (min-width: $iphone6) {
            height: $student-tile;
            width: $student-tile;
          }

          img {
            height: $student-tile-small;
            width: $student-tile-small;

            @media (min-width: $iphone6) {
              height: $student-tile;
              width: $student-tile;
            }
          }

          &:hover .overlay {
            display: flex;
          }

          .overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            height: $student-tile-small;
            width: $student-tile-small;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $transluscent-white;
            text-align: center;
            padding: 4px;

            @media (min-width: $iphone6) {
              height: $student-tile;
              width: $student-tile;
            }

            .name {
              font-weight: bold;
            }

            .location {
              font-weight: $light;
              font-size: 14px;
            }

            .country {
              font-weight: $light;
            }

            .school {
              font-size: 12px;
            }
          }
        }
      }
    }

    .parallax {
      display: none;
      background-image: url('/assets/images/jade-runway.jpg');
      height: 300px;
      width: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 60px 0;

      @media (min-width: $desktop) {
        display: block;
      }
    }

    .judges-separator {
      @media (min-width: $desktop) {
        display: none;
      }
    }

    .judges {
      display: flex;
      flex-direction: column;
      align-items: center;

      .description {
        text-align: center;
        margin-bottom: 30px;

        @media (min-width: $desktop) {
          width: 700px;
        }
      }
      
      .members {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        @media (min-width: $desktop) {
          justify-content: space-between;
          width: 700px;
          height: 520px;
        }

        .member {
          margin-bottom: 20px;
          width: $jury-tile-small-width;
          height: $jury-tile-small-height;
          position: relative;

          @media (min-width: $desktop) {
            margin-bottom: 0;
            width: $jury-tile-width;
            height: $jury-tile-height;
          }

          &:hover .overlay {
            display: flex;
          }

          img {
            width: $jury-tile-small-width;
            height: $jury-tile-small-height;

            @media (min-width: $desktop) {
              width: $jury-tile-width;
              height: $jury-tile-height;
            }
          }
          
          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: $jury-tile-small-width;
            height: $jury-tile-small-height;
            display: none;
            background-color: $transluscent-white;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;

            @media (min-width: $desktop) {
              width: $jury-tile-width;
              height: $jury-tile-height;
            }
            
            p {
              text-align: center;
              margin-bottom: 10px;

              &:last-child {
                margin-bottom: 0;
              }

              &.name {
                font-weight: bold;
              }
  
              &.org {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .about {
      .description-and-team {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: $desktop) {
          width: 900px;
          flex-direction: row;
          justify-content: space-around;
        }

        .description {
          text-align: justify;

          @media (min-width: $desktop) {
            width: 47%;
          }
        }

        .nathalie-and-team {
          display: block;
          width: 90%;
          margin-top: 20px;

          @media (min-width: $desktop) {
            width: 47%;
            margin-top: 0;
          }
        }
      }
    }

    .sketch-1 {
      display: none;
      position: absolute;
      left: 0;
      top: 15px;

      @media (min-width: $desktop) {
        display: block;
      }
    }

    .sketch-2 {
      display: none;
      position: absolute;
      right: 0;
      top: 15px;

      @media (min-width: $desktop) {
        display: block;
      }
    }

    .sketch-3 {
      display: none;
      position: absolute;
      left: 0;
      top: 3880px;

      @media (min-width: $desktop) {
        display: block;
      }
    }

    .sketch-4 {
      display: none;
      position: absolute;
      right: 0;
      top: 3880px;

      @media (min-width: $desktop) {
        display: block;
      }
    }
  }

  footer {
    height: 20px;
    background-color: $black;

    @media (min-width: $desktop) {
      height: 50px;
    }
  }
}
