<div class="app">

  <div class="banner">

    <a
      class="home-link"
      href="/">
      <span class="a">
        A
      </span>
      <span class="o">
        O
      </span>
      <span class="f">
        F
      </span>
    </a>

    <time datetime="2017-10-22 14:00">
      Sunday, October 22, 2017
    </time>

    <h1>
      <span class="name">
        <span class="arts">Arts</span>
        <span class="of">of</span>
        <span class="fashion">Fashion</span>
        <span class="foundation">Foundation</span>
      </span>
      <span class="show">2017 Fashion Show</span>
    </h1>

    <p class="location">
      555 California St
    </p>

    <a
      class="jump-to-tickets"
      href="#tickets">
      Tickets
    </a>

  </div>

  <div class="teaser-container">
    <iframe
      class="teaser"
      src="https://player.vimeo.com/video/238300860"
      width="640"
      height="480"
      frameborder="0">
    </iframe>
  </div>

  <div class="content">

    <section>
      <h2>
        2017 Theme
      </h2>
      <p class="theme">Displacement</p>
    </section>

    <section class="event-details separator">
      <h2>
        International Fashion Student Competition
      </h2>
      <div class="detail">
        <time
          class="date"
          datetime="2017-10-22">
          October 22
        </time>
        <p class="location">
          555 California St
        </p>
      </div>

      <h3>Runway Show</h3>
      <div class="detail">
        <time
          class="time"
          datetime="2017-10-22 14:00">
          2pm - 4pm
        </time>
        <p class="location">Plaza</p>
      </div>

    </section>

    <section class="ticketing-details">

      <h2 id="tickets">
        Tickets
      </h2>
    
      <table class="pricing">
        <tr>
          <td class="color red"></td>
          <td class="seat-type">Benefactor Row Seat</td>
          <td class="price">$300</td>
          <td class="purchase">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="M6LJPFSN8TSDN">
              <input type="submit" value="Purchase">
            </form>
          </td>
        </tr>
        <tr>
          <td class="color pink"></td>
          <td class="seat-type">Premium Front Row Seat</td>
          <td class="price">$125</td>
          <td class="purchase">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="GQSEJ2S2EY8U6">
              <input type="submit" value="Purchase">
            </form>
          </td>
        </tr>
        <tr>
          <td class="color orange"></td>
          <td class="seat-type">Front Row Seat</td>
          <td class="price">$60</td>
          <td class="purchase">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="PCZTEM9DBCPAY">
              <input type="submit" value="Purchase">
            </form>
          </td>
        </tr>
        <tr>
          <td class="color grey"></td>
          <td class="seat-type">Second Row Seat</td>
          <td class="price">$30</td>
          <td class="purchase">
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="88VL2LDHGFHZC">
              <input type="submit" value="Purchase">
            </form>
          </td>
        </tr>
      </table>

      <h2>Seating</h2>

      <img class="seating-layout" src="/assets/images/seating-layout.jpg">

    </section>

    <section class="candidates separator">
      <h2>Candidates</h2>
      <p class="description">
        Below is the list of students selected for the 2017 Arts of Fashion Competition.
        Congratulations!
      </p>
      
      <div class="students">
        <div
          class="student"
          *ngFor="let student of students">
          <img [src]="student.image">
          <div class="overlay">
            <div class="name">
              {{student.name}}
            </div>
            <div class="location">
              {{student.location}}
            </div>
            <div class="country">
              {{student.country}}
            </div>
            <div class="school">
              {{student.school}}
            </div>
          </div>
        </div>
      </div>

    </section>

    <div class="parallax"></div>

    <section class="judges">

      <h2>Jury Committee</h2>

      <p class="description">
        The Jury Committee selected the top 50 international candidates 
        in Fashion and Accessories from over 300 applicants.
        The selection process was based entirely on the candidates' 2D 
        portfolio submissions under this year’s theme DISPLACEMENT.
        Thanks to all of them.
      </p>

      <div class="members">
        <div
          class="member"
          *ngFor="let judge of judges">
          <img [src]="judge.image">
          <div class="overlay">
            <p class="name">{{judge.name}}</p>
            <p class="location">{{judge.location}}</p>
            <p class="org">{{judge.org}}</p>
          </div>
        </div>
      </div>

    </section>

    <section class="event-details separator">
      <h2>
        Fashion Seminar Awards Ceremony
      </h2>
      <p class="caveat">
        reserved for candidates, family &amp; friends and by special invitation
      </p>
      <div class="detail">
        <time
          class="date"
          datetime="2017-10-23">
          October 23
        </time>
        <p class="location">555 California St</p>
      </div>
      
      <h3>Portfolio Review</h3>
      <div class="detail">
        <time
          class="time"
          datetime="2017-10-23 10:00">
          10am - 12pm
        </time>
        <p class="location">Gallery</p>
      </div>

      <h3>Fashion Seminar</h3>
      <div class="detail">
        <time
          class="time"
          datetime="2017-10-23 14:00">
          2pm - 4pm
        </time>
        <p class="location">Auditorium</p>
      </div>

      <h3>Cocktail Reception</h3>
      <div class="detail">
        <time
          class="time"
          datetime="2017-10-23 18:00">
          6pm
        </time>
        <p class="location">Gallery</p>
      </div>

      <h3>Awards Ceremony</h3>
      <div class="detail">
        <time
          class="time"
          datetime="2017-10-23 19:00">
          7pm - 9pm
        </time>
        <p class="location">Auditorium</p>
      </div>

    </section>

    <section class="about separator">
      <h2>About Us</h2>
      <div class="description-and-team">
        <p class="description">
          The Arts of Fashion Foundation is a San Francisco-based 501(c)(3), 
          public, non-profit organization, linking both academics and professionals 
          alike and is dedicated in fostering international cultural exchange 
          through the creation of a variety of educational programs meant to 
          facilitate critical thinking and advance the field of fashion among 
          artists, designers, scholars and students. The primary focus of the 
          foundation is the continuous support of creativity and design process 
          in fashion and the arts linked to it.
        </p>

        <img
          class="nathalie-and-team"
          src="/assets/images/nathalie-and-team.jpg">
      </div>
    </section>

    <img class="sketch-1" src="/assets/images/sketches/sketch-1-left.jpg">
    <img class="sketch-2" src="/assets/images/sketches/sketch-1-right.jpg">
    <img class="sketch-3" src="/assets/images/sketches/sketch-2-left.jpg">
    <img class="sketch-4" src="/assets/images/sketches/sketch-2-right.jpg">

  </div>

  <footer></footer>
</div>
