/* You can add global styles to this file, and also import other style files */

@import './variables.scss';

@font-face {
  font-family: "GillSans";
  font-style: normal;
  font-weight: normal; // equivalent to font-weight: 400
  src: url("/assets/fonts/gill-sans.woff2");
}

@font-face {
  font-family: "GillSans";
  font-style: italic;
  font-weight: normal;
  src: url("/assets/fonts/gill-sans-italic.woff2");
}

@font-face {
  font-family: "GillSans";
  font-style: normal;
  font-weight: $light;
  src: url("/assets/fonts/gill-sans-light.woff2");
}

@font-face {
  font-family: "GillSans";
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/gill-sans-bold.woff2");
}

body, h1, h2, h3, h4, h5, div, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
