$elephant-grey: #888;
$light-grey: #d8d8d8;
$pale-grey: #e2e2e2;
$blue: #344093;
$red: #c90f0f;
$fuschia: #ec43f2;
$orange: #fbab02;
$white: #ffffff;
$black: #000;
$transluscent-white: rgba(255,255,255,0.8);


$light: 300;
